In [61]:
### 清洗数据，这里用来做清洗好的数据集，保存为clean.csv
### 需要下载的包 这块代码不执行，在终端中执行即可
# conda install pandas
# conda install jupyter
# conda install scikit-learn
# 下载好之后，在跟目录下输入 jupyter notebook 在浏览器中打开（当然vscode配置jupyter插件也可以）

In [62]:
import pandas as pd
import numpy as np

## 获取数据

In [63]:
data = pd.read_csv("../dataset/origin.csv",encoding="unicode_escape")

C:\Users\SZH\AppData\Local\Temp\ipykernel_26524\4284879550.py:1: DtypeWarning: Columns (1,11,12,14) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("../dataset/origin.csv",encoding="unicode_escape")

In [64]:
data = pd.read_csv("../dataset/origin.csv",encoding="gbk") # 这两个必须都有,否则会有编码问题不能正常读入

C:\Users\SZH\AppData\Local\Temp\ipykernel_26524\1886302955.py:1: DtypeWarning: Columns (1,11,12,14) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("../dataset/origin.csv",encoding="gbk") # 这两个必须都有,否则会有编码问题不能正常读入

In [65]:
data.dtypes # 查看类型

url                     object
id                      object
Lng                    float64
Lat                    float64
Cid                    float64
tradeTime               object
DOM                    float64
followers                int64
totalPrice             float64
price                    int64
square                 float64
livingRoom              object
drawingRoom             object
kitchen                  int64
bathRoom                object
floor                   object
buildingType           float64
constructionTime        object
renovationCondition      int64
buildingStructure        int64
ladderRatio            float64
elevator               float64
fiveYearsProperty      float64
subway                 float64
district                 int64
communityAverage       float64
dtype: object

In [66]:
data

,url,id,Lng,Lat,Cid,tradeTime,DOM,followers,totalPrice,price,...,buildingType,constructionTime,renovationCondition,buildingStructure,ladderRatio,elevator,fiveYearsProperty,subway,district,communityAverage
0,https://bj.lianjia.com/chengjiao/101084782030....,101000000000.0,116.475489,40.019520,1.110000e+12,2016/8/9,1464.0,106,415.0,31680,...,1.0,2005,3,6,0.217,1.0,0.0,1.0,7,56021.0
1,https://bj.lianjia.com/chengjiao/101086012217....,101000000000.0,116.453917,39.881534,1.110000e+12,2016/7/28,903.0,126,575.0,43436,...,1.0,2004,4,6,0.667,1.0,1.0,0.0,7,71539.0
2,https://bj.lianjia.com/chengjiao/101086041636....,101000000000.0,116.561978,39.877145,1.110000e+12,2016/12/11,1271.0,48,1030.0,52021,...,4.0,2005,3,6,0.500,1.0,0.0,0.0,7,48160.0
3,https://bj.lianjia.com/chengjiao/101086406841....,101000000000.0,116.438010,40.076114,1.110000e+12,2016/9/30,965.0,138,297.5,22202,...,1.0,2008,1,6,0.273,1.0,0.0,0.0,6,51238.0
4,https://bj.lianjia.com/chengjiao/101086920653....,101000000000.0,116.428392,39.886229,1.110000e+12,2016/8/28,927.0,286,392.0,48396,...,4.0,1960,2,2,0.333,0.0,1.0,1.0,1,62588.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318846,https://bj.lianjia.com/chengjiao/BJYZ92311192....,BJYZ92311192,116.546899,39.755236,1.110000e+12,2016/6/10,1.0,8,350.0,20580,...,4.0,2003,1,6,0.333,0.0,1.0,0.0,3,36545.0
318847,https://bj.lianjia.com/chengjiao/BJYZ92320171....,BJYZ92320171,116.497474,39.810115,1.110000e+12,2016/6/10,NaN,1,108.8,31006,...,1.0,2009,1,6,0.222,1.0,0.0,1.0,3,54282.0
318848,https://bj.lianjia.com/chengjiao/BJYZ92324217....,BJYZ92324217,116.497256,39.804081,1.110000e+12,2016/6/5,1.0,2,359.0,35138,...,4.0,2000,3,6,0.500,1.0,1.0,0.0,3,46927.0
318849,https://bj.lianjia.com/chengjiao/BJYZ92333313....,BJYZ92333313,116.501794,39.799347,1.110000e+12,2016/6/12,NaN,4,720.0,40373,...,4.0,2003,4,2,0.500,0.0,1.0,0.0,3,54842.0
318850,https://bj.lianjia.com/chengjiao/BJYZ92363553....,BJYZ92363553,116.497474,39.810115,1.110000e+12,2016/6/11,1.0,0,450.0,48675,...,4.0,未知,4,6,1.000,1.0,0.0,1.0,3,54282.0

In [67]:
data.isnull().sum().sort_values(ascending =False) # 统计缺失部分

DOM                    157977
buildingType             2021
communityAverage          463
subway                     32
fiveYearsProperty          32
elevator                   32
bathRoom                    0
district                    0
ladderRatio                 0
buildingStructure           0
renovationCondition         0
constructionTime            0
floor                       0
url                         0
id                          0
drawingRoom                 0
livingRoom                  0
square                      0
price                       0
totalPrice                  0
followers                   0
tradeTime                   0
Cid                         0
Lat                         0
Lng                         0
kitchen                     0
dtype: int64

## 缺失值处理

In [68]:
# 均值填充缺失
data['DOM'].fillna(data['DOM'].dropna().mean(0),inplace=True) 
# 建筑类型众数填补缺失
data['buildingType'] = data['buildingType'].fillna(data['buildingType'].mode().iloc[0])
# 用中间值填充
data['communityAverage'] = data['communityAverage'].fillna(data['communityAverage'].median())
#房间等特征值的缺失就当做没有，用0填充
data['subway'] = data['subway'].fillna(0) 
data['fiveYearsProperty'] = data['fiveYearsProperty'].fillna(0) 
data['elevator'] = data['elevator'].fillna(0)

In [69]:
data.isnull().sum().sort_values(ascending =False) # 缺失值处理完毕

url                    0
id                     0
district               0
subway                 0
fiveYearsProperty      0
elevator               0
ladderRatio            0
buildingStructure      0
renovationCondition    0
constructionTime       0
buildingType           0
floor                  0
bathRoom               0
kitchen                0
drawingRoom            0
livingRoom             0
square                 0
price                  0
totalPrice             0
followers              0
DOM                    0
tradeTime              0
Cid                    0
Lat                    0
Lng                    0
communityAverage       0
dtype: int64

In [70]:
import matplotlib.pyplot as plt

In [71]:
data.shape
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318851 entries, 0 to 318850
Data columns (total 26 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   url                  318851 non-null  object
 1   id                   318851 non-null  object
 2   Lng                  318851 non-null  float64
 3   Lat                  318851 non-null  float64
 4   Cid                  318851 non-null  float64
 5   tradeTime            318851 non-null  object
 6   DOM                  318851 non-null  float64
 7   followers            318851 non-null  int64
 8   totalPrice           318851 non-null  float64
 9   price                318851 non-null  int64
 10  square               318851 non-null  float64
 11  livingRoom           318851 non-null  object
 12  drawingRoom          318851 non-null  object
 13  kitchen              318851 non-null  int64
 14  bathRoom             318851 non-null  object
 15  floor                318851 non-null  object
 16  buildingType         318851 non-null  float64
 17  constructionTime     318851 non-null  object
 18  renovationCondition  318851 non-null  int64
 19  buildingStructure    318851 non-null  int64
 20  ladderRatio          318851 non-null  float64
 21  elevator             318851 non-null  float64
 22  fiveYearsProperty    318851 non-null  float64
 23  subway               318851 non-null  float64
 24  district             318851 non-null  int64
 25  communityAverage     318851 non-null  float64
dtypes: float64(12), int64(6), object(8)
memory usage: 63.2+ MB

In [72]:
data = data.drop(columns=['url','id','Cid','price'])

In [73]:
from math import sin, cos, sqrt, atan2, radians

def haversine(lat1, lon1, lat2, lon2):
    # 将经纬度转换为弧度
    lat1 = radians(lat1)
    lon1 = radians(lon1)
    lat2 = radians(lat2)
    lon2 = radians(lon2)

    # 差值
    dlon = lon2 - lon1
    dlat = lat2 - lat1

    # 使用Haversine公式计算距离
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    # 地球半径（平均值，单位：千米）
    r = 6371.0

    # 计算距离
    distance = r * c

    return distance

In [74]:
tian_an_meng_lat = 39.908692
tian_an_meng_lng = 116.397477

In [75]:
data['dis_to_tianmeng'] = data.apply(lambda row: haversine(row['Lat'], row['Lng'], tian_an_meng_lat, tian_an_meng_lng), axis=1)

In [76]:
data.floor

0         高 26
1         高 22
2          中 4
3         底 21
4          中 6
          ...
318846     中 5
318847    中 24
318848     中 7
318849     中 5
318850    中 17
Name: floor, Length: 318851, dtype: object

In [77]:
data[['floor_type', 'floor_number']] = data['floor'].str.replace(r'\s+', ' ',regex=True).str.strip().str.split(' ', expand=True)
data = data.drop(columns=['floor'])

In [78]:
# data['tradeTime'] = pd.to_datetime(data['tradeTime'], format='%Y/%m/%d')

In [79]:
# data['year'] = data['tradeTime'].dt.year
# data['month'] = data['tradeTime'].dt.month
# data['day'] = data['tradeTime'].dt.day
data.drop(columns=['tradeTime'], inplace=True)

In [80]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318851 entries, 0 to 318850
Data columns (total 23 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Lng                  318851 non-null  float64
 1   Lat                  318851 non-null  float64
 2   DOM                  318851 non-null  float64
 3   followers            318851 non-null  int64
 4   totalPrice           318851 non-null  float64
 5   square               318851 non-null  float64
 6   livingRoom           318851 non-null  object
 7   drawingRoom          318851 non-null  object
 8   kitchen              318851 non-null  int64
 9   bathRoom             318851 non-null  object
 10  buildingType         318851 non-null  float64
 11  constructionTime     318851 non-null  object
 12  renovationCondition  318851 non-null  int64
 13  buildingStructure    318851 non-null  int64
 14  ladderRatio          318851 non-null  float64
 15  elevator             318851 non-null  float64
 16  fiveYearsProperty    318851 non-null  float64
 17  subway               318851 non-null  float64
 18  district             318851 non-null  int64
 19  communityAverage     318851 non-null  float64
 20  dis_to_tianmeng      318851 non-null  float64
 21  floor_type           318851 non-null  object
 22  floor_number         318819 non-null  object
dtypes: float64(12), int64(5), object(6)
memory usage: 56.0+ MB

In [81]:
data.isnull().sum().sort_values(ascending =False) # 缺失值处理完毕

floor_number           32
renovationCondition     0
floor_type              0
dis_to_tianmeng         0
communityAverage        0
district                0
subway                  0
fiveYearsProperty       0
elevator                0
ladderRatio             0
buildingStructure       0
Lng                     0
Lat                     0
buildingType            0
bathRoom                0
kitchen                 0
drawingRoom             0
livingRoom              0
square                  0
totalPrice              0
followers               0
DOM                     0
constructionTime        0
dtype: int64

In [82]:
data['livingRoom'] = pd.to_numeric(data['livingRoom'], errors='coerce')
data.livingRoom

0         2.0
1         2.0
2         3.0
3         3.0
4         2.0
         ...
318846    3.0
318847    1.0
318848    2.0
318849    4.0
318850    2.0
Name: livingRoom, Length: 318851, dtype: float64

In [83]:
data['drawingRoom'] = pd.to_numeric(data['drawingRoom'], errors='coerce')
data['bathRoom'] = pd.to_numeric(data['bathRoom'], errors='coerce')
data['floor_number'] = pd.to_numeric(data['floor_number'], errors='coerce')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318851 entries, 0 to 318850
Data columns (total 23 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Lng                  318851 non-null  float64
 1   Lat                  318851 non-null  float64
 2   DOM                  318851 non-null  float64
 3   followers            318851 non-null  int64
 4   totalPrice           318851 non-null  float64
 5   square               318851 non-null  float64
 6   livingRoom           318819 non-null  float64
 7   drawingRoom          318819 non-null  float64
 8   kitchen              318851 non-null  int64
 9   bathRoom             318849 non-null  float64
 10  buildingType         318851 non-null  float64
 11  constructionTime     318851 non-null  object
 12  renovationCondition  318851 non-null  int64
 13  buildingStructure    318851 non-null  int64
 14  ladderRatio          318851 non-null  float64
 15  elevator             318851 non-null  float64
 16  fiveYearsProperty    318851 non-null  float64
 17  subway               318851 non-null  float64
 18  district             318851 non-null  int64
 19  communityAverage     318851 non-null  float64
 20  dis_to_tianmeng      318851 non-null  float64
 21  floor_type           318851 non-null  object
 22  floor_number         318819 non-null  float64
dtypes: float64(16), int64(5), object(2)
memory usage: 56.0+ MB

In [84]:
# 标准化处理
data_stand = data # 标准化
data_normal = data # 归一化

In [85]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [86]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318851 entries, 0 to 318850
Data columns (total 23 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Lng                  318851 non-null  float64
 1   Lat                  318851 non-null  float64
 2   DOM                  318851 non-null  float64
 3   followers            318851 non-null  int64
 4   totalPrice           318851 non-null  float64
 5   square               318851 non-null  float64
 6   livingRoom           318819 non-null  float64
 7   drawingRoom          318819 non-null  float64
 8   kitchen              318851 non-null  int64
 9   bathRoom             318849 non-null  float64
 10  buildingType         318851 non-null  float64
 11  constructionTime     318851 non-null  object
 12  renovationCondition  318851 non-null  int64
 13  buildingStructure    318851 non-null  int64
 14  ladderRatio          318851 non-null  float64
 15  elevator             318851 non-null  float64
 16  fiveYearsProperty    318851 non-null  float64
 17  subway               318851 non-null  float64
 18  district             318851 non-null  int64
 19  communityAverage     318851 non-null  float64
 20  dis_to_tianmeng      318851 non-null  float64
 21  floor_type           318851 non-null  object
 22  floor_number         318819 non-null  float64
dtypes: float64(16), int64(5), object(2)
memory usage: 56.0+ MB

In [87]:
# !!!! 到这里,
# 'constructionTime'和'floor_type'
# 这两列仍然是对象类型，需要进一步处理为数值类型。

In [88]:
# 将 '未知' 替换为 NaN
data['constructionTime'].replace('未知', np.nan, inplace=True)

# 将 'constructionTime' 列转换为数值类型
data['constructionTime'] = pd.to_numeric(data['constructionTime'], errors='coerce')

# 计算 'constructionTime' 列的平均值
mean_constructionTime = data['constructionTime'].mean()

# 使用平均值填充缺失值
data['constructionTime'].fillna(mean_constructionTime, inplace=True)

In [89]:

# 使用get_dummies将'floor_type'列转换为独热编码
data = pd.get_dummies(data, columns=['floor_type'], prefix=['floor_type'], drop_first=True)
data.info()
data = data.replace({False:0,True:1})

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318851 entries, 0 to 318850
Data columns (total 29 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Lng                  318851 non-null  float64
 1   Lat                  318851 non-null  float64
 2   DOM                  318851 non-null  float64
 3   followers            318851 non-null  int64
 4   totalPrice           318851 non-null  float64
 5   square               318851 non-null  float64
 6   livingRoom           318819 non-null  float64
 7   drawingRoom          318819 non-null  float64
 8   kitchen              318851 non-null  int64
 9   bathRoom             318849 non-null  float64
 10  buildingType         318851 non-null  float64
 11  constructionTime     318851 non-null  float64
 12  renovationCondition  318851 non-null  int64
 13  buildingStructure    318851 non-null  int64
 14  ladderRatio          318851 non-null  float64
 15  elevator             318851 non-null  float64
 16  fiveYearsProperty    318851 non-null  float64
 17  subway               318851 non-null  float64
 18  district             318851 non-null  int64
 19  communityAverage     318851 non-null  float64
 20  dis_to_tianmeng      318851 non-null  float64
 21  floor_number         318819 non-null  float64
 22  floor_type_低         318851 non-null  bool
 23  floor_type_底         318851 non-null  bool
 24  floor_type_未知        318851 non-null  bool
 25  floor_type_混合结构      318851 non-null  bool
 26  floor_type_钢混结构      318851 non-null  bool
 27  floor_type_顶         318851 non-null  bool
 28  floor_type_高         318851 non-null  bool
dtypes: bool(7), float64(17), int64(5)
memory usage: 55.6 MB

In [90]:
columns_to_check = ['drawingRoom', 'floor_number', 'livingRoom', 'bathRoom']
data = data.dropna(subset=columns_to_check, how='any')

In [91]:
data.isnull().sum().sort_values(ascending =False) # 检查缺失值

Lng                    0
elevator               0
floor_type_顶           0
floor_type_钢混结构        0
floor_type_混合结构        0
floor_type_未知          0
floor_type_底           0
floor_type_低           0
floor_number           0
dis_to_tianmeng        0
communityAverage       0
district               0
subway                 0
fiveYearsProperty      0
ladderRatio            0
Lat                    0
buildingStructure      0
renovationCondition    0
constructionTime       0
buildingType           0
bathRoom               0
kitchen                0
drawingRoom            0
livingRoom             0
square                 0
totalPrice             0
followers              0
DOM                    0
floor_type_高           0
dtype: int64

In [92]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 318819 entries, 0 to 318850
Data columns (total 29 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Lng                  318819 non-null  float64
 1   Lat                  318819 non-null  float64
 2   DOM                  318819 non-null  float64
 3   followers            318819 non-null  int64
 4   totalPrice           318819 non-null  float64
 5   square               318819 non-null  float64
 6   livingRoom           318819 non-null  float64
 7   drawingRoom          318819 non-null  float64
 8   kitchen              318819 non-null  int64
 9   bathRoom             318819 non-null  float64
 10  buildingType         318819 non-null  float64
 11  constructionTime     318819 non-null  float64
 12  renovationCondition  318819 non-null  int64
 13  buildingStructure    318819 non-null  int64
 14  ladderRatio          318819 non-null  float64
 15  elevator             318819 non-null  float64
 16  fiveYearsProperty    318819 non-null  float64
 17  subway               318819 non-null  float64
 18  district             318819 non-null  int64
 19  communityAverage     318819 non-null  float64
 20  dis_to_tianmeng      318819 non-null  float64
 21  floor_number         318819 non-null  float64
 22  floor_type_低         318819 non-null  int64
 23  floor_type_底         318819 non-null  int64
 24  floor_type_未知        318819 non-null  int64
 25  floor_type_混合结构      318819 non-null  int64
 26  floor_type_钢混结构      318819 non-null  int64
 27  floor_type_顶         318819 non-null  int64
 28  floor_type_高         318819 non-null  int64
dtypes: float64(17), int64(12)
memory usage: 73.0 MB

In [93]:
from sklearn.preprocessing import StandardScaler

# 选择需要标准化的数值型列，排除掉bool和int32类型的列
numerical_columns = data.select_dtypes(include=['float64', 'int64','int32'])

# 创建标准化器
scaler_standard = StandardScaler()

In [94]:
data

,Lng,Lat,DOM,followers,totalPrice,square,livingRoom,drawingRoom,kitchen,bathRoom,...,communityAverage,dis_to_tianmeng,floor_number,floor_type_低,floor_type_底,floor_type_未知,floor_type_混合结构,floor_type_钢混结构,floor_type_顶,floor_type_高
0,116.475489,40.019520,1464.000000,106,415.0,131.00,2.0,1.0,1,1.0,...,56021.0,14.002586,26.0,0,0,0,0,0,0,1
1,116.453917,39.881534,903.000000,126,575.0,132.38,2.0,2.0,1,2.0,...,71539.0,5.683584,22.0,0,0,0,0,0,0,1
2,116.561978,39.877145,1271.000000,48,1030.0,198.00,3.0,2.0,1,3.0,...,48160.0,14.465941,4.0,0,0,0,0,0,0,0
3,116.438010,40.076114,965.000000,138,297.5,134.00,3.0,1.0,1,1.0,...,51238.0,18.934000,21.0,0,1,0,0,0,0,0
4,116.428392,39.886229,927.000000,286,392.0,81.00,2.0,1.0,1,1.0,...,62588.0,3.632383,6.0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318846,116.546899,39.755236,1.000000,8,350.0,170.07,3.0,2.0,1,2.0,...,36545.0,21.306280,5.0,0,0,0,0,0,0,0
318847,116.497474,39.810115,28.822339,1,108.8,35.09,1.0,0.0,1,1.0,...,54282.0,13.892453,24.0,0,0,0,0,0,0,0
318848,116.497256,39.804081,1.000000,2,359.0,102.17,2.0,2.0,1,2.0,...,46927.0,14.416950,7.0,0,0,0,0,0,0,0
318849,116.501794,39.799347,28.822339,4,720.0,178.34,4.0,2.0,1,2.0,...,54842.0,15.070689,5.0,0,0,0,0,0,0,0
318850,116.497474,39.810115,1.000000,0,450.0,92.45,2.0,1.0,1,1.0,...,54282.0,13.892453,17.0,0,0,0,0,0,0,0

In [95]:

#   data.to_csv('./stand_data.csv', index=False, encoding='utf-8')

In [97]:

# 对数值型列进行标准化
standardized_data = scaler_standard.fit_transform(numerical_columns)

# 创建DataFrame来保存标准化后的数据
standardized_df = pd.DataFrame(standardized_data, columns=numerical_columns.columns)

# 合并bool和int32类型的列
result_df = pd.concat([standardized_df, data[['floor_type_低', 'floor_type_底', 'floor_type_未知', 'floor_type_混合结构', 'floor_type_钢混结构', 'floor_type_顶', 'floor_type_高']]], axis=1)
result_df = result_df.dropna(subset=columns_to_check, how='any')
result_df.to_csv('./stand_data.csv', index=False, encoding='utf-8')

In [98]:
result_df = result_df.dropna(subset=columns_to_check, how='any')
result_df.isnull().sum().sort_values(ascending =False) # 检查缺失值

floor_type_高           32
floor_type_顶           32
floor_type_钢混结构        32
floor_type_混合结构        32
floor_type_未知          32
floor_type_底           32
floor_type_低           32
floor_type_未知           0
dis_to_tianmeng         0
floor_number            0
floor_type_低            0
floor_type_底            0
floor_type_顶            0
floor_type_混合结构         0
floor_type_钢混结构         0
Lat                     0
floor_type_高            0
communityAverage        0
Lng                     0
subway                  0
kitchen                 0
DOM                     0
followers               0
totalPrice              0
square                  0
livingRoom              0
drawingRoom             0
bathRoom                0
fiveYearsProperty       0
buildingType            0
constructionTime        0
renovationCondition     0
buildingStructure       0
ladderRatio             0
elevator                0
district                0
dtype: int64

In [99]:


result_df

,Lng,Lat,DOM,followers,totalPrice,square,livingRoom,drawingRoom,kitchen,bathRoom,...,floor_type_钢混结构,floor_type_顶,floor_type_高,floor_type_低,floor_type_底,floor_type_未知,floor_type_混合结构,floor_type_钢混结构,floor_type_顶,floor_type_高
0,0.508846,0.760203,40.217884,2.609344,0.285764,1.282630,-0.013349,-0.329226,0.053317,-0.429952,...,0.0,-0.364585,1.883733,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.316292,-0.739891,24.496996,3.193961,0.979067,1.319692,-0.013349,1.585432,0.053317,1.855537,...,0.0,-0.364585,1.883733,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1.280856,-0.787605,34.809450,0.913955,2.950646,3.082017,1.273949,1.585432,0.053317,4.141026,...,0.0,-0.364585,-0.530861,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.174304,1.375456,26.234420,3.544731,-0.223380,1.363199,1.273949,-0.329226,0.053317,-0.429952,...,0.0,-0.364585,-0.530861,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.088453,-0.688850,25.169547,7.870897,0.186102,-0.060196,-0.013349,-0.329226,0.053317,-0.429952,...,0.0,-0.364585,-0.530861,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318814,1.146259,-2.112920,-0.779726,-0.255278,0.004110,2.331914,1.273949,1.585432,0.053317,1.855537,...,0.0,-0.364585,-0.530861,0.0,0.0,0.0,0.0,0.0,1.0,0.0
318815,0.705086,-1.516312,-0.000061,-0.459894,-1.041044,-1.293179,-1.300646,-2.243883,0.053317,-0.429952,...,0.0,-0.364585,-0.530861,1.0,0.0,0.0,0.0,0.0,0.0,0.0
318816,0.703141,-1.581909,-0.779726,-0.430664,0.043108,0.508356,-0.013349,1.585432,0.053317,1.855537,...,0.0,-0.364585,-0.530861,1.0,0.0,0.0,0.0,0.0,0.0,0.0
318817,0.743647,-1.633374,-0.000061,-0.372202,1.607372,2.554018,2.561246,1.585432,0.053317,1.855537,...,0.0,-0.364585,-0.530861,0.0,0.0,0.0,0.0,0.0,0.0,1.0
318818,0.705086,-1.516312,-0.779726,-0.489125,0.437424,0.247311,-0.013349,-0.329226,0.053317,-0.429952,...,0.0,-0.364585,-0.530861,0.0,1.0,0.0,0.0,0.0,0.0,0.0